.wrapper-dose {
  margin: 100px 20%;
  background: #fa4646;
}
.dose {
  padding: 5px;
  border-right: 2px solid #eee;
}
.suppr {
  font-size: 30px;
  &:hover {
    color: white;
    text-shadow: 0 0 10px white;
  }
}
.header {
  padding: 5px 0 15px 0;
  background: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
