.cocktail {
  margin: 50px 0;
  font-family: 'Raleway';
  border-top: 3px solid #816C61;
  background: #2c3e50;
  color: white;
  height: 150px;
  position: relative;
  h2 {
    position: absolute;
    left: 10px;
    margin: 0;
    padding: 0;
  }
  p {
    position: absolute;
    right: 10px;
    margin: 0;
    margin: 0;
  }
  .edit-cocktail {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 20px;
    &:hover {
      text-shadow: 0 0 10px white;
    }
  }
}
.link {
  font-size: 30px;
  &:hover {
    color: white;
    text-shadow: 0 0 10px white;
  }
}
