.cocktail {
  margin: 50px 0;
  font-family: 'Raleway';
  padding: 10px;
  border-top: 3px solid black;
  background: #d35400;
  // height: 50px;
  position: relative;
  h2 {
    position: absolute;
    top: 10;
    left: 10px;
  }
  p {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.link {
  font-size: 30px;
  &:hover {
    color: #decc09;
    text-shadow: 0 0 10px #decc09;
  }
}
