// bootstrap
@import 'bootstrap';
@import 'font-awesome';

// components
@import 'components/card-dose';
@import 'components/cocktail';
@import 'components/navbar';
@import 'components/footer';

body {
  background: #D0F4EA;
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
ul {
  li {
    list-style: none;
  }
}
