// bootstrap
@import 'bootstrap';

// components
@import 'components/card-dose';
@import 'components/cocktail';

body {
  background: #D0F4EA;
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
