<div class="footer">

  <ul class="list-inline">
    <li>
      <a href="#">
        <%= fa_stacked_icon "facebook", base: 'square-o' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= fa_stacked_icon "twitter", base: 'square-o' %>
      </a>
    </li>
    <li>
      <a href="#">
        <%= fa_stacked_icon "linkedin", base: 'square-o' %>
      </a>
    </li>
  </ul>

  <div class="message">
    Mister Cocktail by <a href="https://github.com/MendyDihars">@MendyDihars</a>
  </div>
</div>
